{
    "semi": false,
    "singleQuote": true,
    "useTabs": false,
    "trailingComma": "es5",
    "printWidth": 120,
    "tabWidth": 4,
    "plugins": ["@trivago/prettier-plugin-sort-imports", "prettier-plugin-tailwindcss"],
    "importOrder": [
        "^vue(.*)$",
        "^primevue(.*)$",
        "^@iconify(.*)$",
        "^@/config/(.*)$",
        "^@/composables/(.*)$",
        "^@/api/(.*)$",
        "^@/components/(.*)$"
    ],
    "importOrderSeparation": false,
    "importOrderSortSpecifiers": true,
    "importOrderCaseInsensitive": true
}
