/*@tailwind base;*/
/*@tailwind components;*/
/*@tailwind utilities;*/


@layer tailwind-base, primevue, tailwind-utilities;

@layer tailwind-base {
    @tailwind base;
}

@layer tailwind-utilities {
    @tailwind components;
    @tailwind utilities;
}

::-webkit-scrollbar {
    @apply rounded-2xl bg-gray-200;
    width: 7px;
    height: 7px;
}
::-webkit-scrollbar-track {
    @apply bg-gray-400;
}
::-webkit-scrollbar-thumb {
    @apply bg-gray-800;
}
::-webkit-scrollbar-thumb:hover {
    @apply bg-gray-800;
}

:root {
    --p-form-field-padding-x: 0.5rem;
    --p-form-field-padding-y: 0.2rem;
}

#app {
    --app-header-height: 4.2rem;
}
